<div class="mt-2 mb-4 text-gray-500">
    <%= render 'shared/profile/item_with_description', 
        title: project.title,
        subtitle: project.tech_stack,
        link:project.project_url,
        description: project.description
    %>
</div>
<hr>
